<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/style.css" rel="stylesheet">
    <title>Intro to NodeJS</title>
</head>

<body>
    <main>
        <h1>
            Hello <%= user %>!
        </h1>
    </main>
</body>

</html>